@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Karla', sans-serif;
  background-color: #F0EDFF;
  color: #4C1D95;
}

/* Geometric heavy style accents and decorative shapes can be added within specific components */

/* Overriding default link styles inside nav to have transitions in layout.tsx instead */
